@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,400;1,100;1,700;1,900&display=swap');

.new-user__controls {
    gap: 1rem;
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100%;

}

.new-user__control {
    margin: 5% 4% 4% 2%;
}

.new-user__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
  
.new-user__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}
  
.new-user__actions {
    text-align: right;
}

.cenetered-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}


.cenetered-content-container button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}